@page "{id:int?}"
@model SportProject.Pages.Coaches.IndexModel

@{
    ViewData["Title"] = "Coaches";
}

<h2>Coaches</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Hire Date</th>
            <th>Sports</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CoachData.Coaches)
        {
            string selectedRow = "";
            if (item.ID == Model.CoachID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.CoachData.Sports != null)
{
    <h3>Sports Coached by Selected Coach</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CoachData.Sports)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.CoachData.Fixtures != null)
{
    <h3>Fixtures for Selected Sport</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CoachData.Fixtures)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FixtureDate)
                    </td>
                    <td>
                        @item.Result
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
